body {
	background-color: #B3A580;	
}

.container {
	background-image: url('../images/backgrounds/okinawa-map-trans.jpg');
	background-position: no-repeat;
	padding: 20px;
/*  	position: absolute;
  	opacity: 0.2;
	filter: alpha(opacity=20);*/
}

h1 {
	padding: 10px;
	margin-bottom: 1em;
	border-bottom: 2px solid #685642;
	color: #685642;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 4px;
}

.team-header {
	padding: 10px;
}

.team-header .team {
	padding: 5px;
}

.team-header img {
	margin-bottom: 5px;
}

.team-header .team .name {
	line-height: 16px;
}

.color-badge {
	margin-top: 2px;
	margin-right: 4px;
	height: 16px;
	width: 16px;
	border: 1px solid #eee;
}